@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #111827;
}

html, body, #__next {
  height: 100%;
}

body {
  margin: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}

