@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

:root {
  --background: #1B2D3A;
  --foreground: #111827;
  --title-color: #FFC600;
  --cmd-background: #193549;
  --font-terminal: 'Fira Code', monospace;
  --cmd-title: #CCCCCC;

  --background-l: #EEE8D5;
  --foreground-l: #111827;
  --title-color-l: #278BD2;
  --cmd-background-l: #FDF6E3;  
  --cmd-title-l: #586E75;
}


html, body, #__next {
  height: 100%;
}

body {
  margin: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-terminal);
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1.5;
    transform: scale(1);
  }
}

.animate-fade-in {
  animation: fade-in 1.5s ease-out forwards;
}
@keyframes blink {
  0%, 50% {
    opacity: 1;
  }
  51%, 100% {
    opacity: 0;
  }
}

.blinking-cursor {
  animation: blink 1s infinite;
  margin-left: 0.2rem;
}

@keyframes paintPulse {
  0%, 100% {
    opacity: 0.15;
    filter: blur(25px) hue-rotate(0deg);
  }
  50% {
    opacity: 0.25;
    filter: blur(30px) hue-rotate(10deg);
  }
}

/* Hide scrollbars */
.scrollbar-hide {
  -webkit-overflow-scrolling: touch;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}