@import "tailwindcss";

:root {
  --background: #1B2D3A;
  --foreground: #111827;
  --title-color: #FFC600;
}

html, body, #__next {
  height: 100%;
}

body {
  margin: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-terminal), monospace;
}

