@import "tailwindcss";

:root {
  --background: #1B2D3A;
  --foreground: #111827;
  --title-color: #FFC600;
  --cmd-background: #193549;
  --font-terminal: 'Fira Code', monospace;
  --cmd-title: #CCCCCC;
}

html, body, #__next {
  height: 100%;
}

body {
  margin: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-terminal);
}

